.headanchorpane {
    -fx-background-color: #c1c9c6;
    
}
.button {
    -fx-font-family: "futura md bt";
    background-color: #18655a;
    -fx-background-color: #18655a;
  }
  .button:hover {
    background-color: #09574b;
    -fx-background-color: #09574b;
  }
  .button:pressed {
    background-color: #b0edd7;
    -fx-background-color: #b0edd7;
    -fx-text-fill: #161515
  }
  .button:focused {
    background-color: #c1c9c6;
    -fx-background-color: #c1c9c6;
    -fx-text-fill: #161515
  }
  .body-anchorpanestatus {
    -fx-background-color:#345149;
  }